h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: aqua;
}

.write{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#search-btn{
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
padding: 0px 30px;
transition: all 5s ease;
border: 5px solid black;
border-radius: 5px;
}
#search-btn:hover{
    background-color: teal;
    color: white;
    transform: translate(50px) scale(1.5);
}
#input{
background-color:black;
font-size: xx-large;
font-weight: bold;
color: white;
height: 3rem; 
border: 5px solid gray;
transition: all 0.5s ease;
}
#input:hover{
border:10px solid teal;
}

.sectionStyle{
    width: 90%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-column-gap: 20px;
   grid-row-gap: 10px;
   background-color: rgba(0,0,0);
   margin: auto;

}
.sectionStyle img{
    width: 300px;
    border: 2px solid white;
}
.container h3{
   color: white;
   text-align: center;
   width: 80%;
}
.single-item-style{
   margin-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.single-item-style img{
    border:2px solid steelblue;
}
.single-item-style button{
    padding: 10px 20px;
    color: teal;
    background-color: black;
    font-size: large;
    font-weight: bolder;
}
.single-item-style button:hover{
    background-color: darkkhaki;
}